* {
  padding: 0;
  margin: 0;
}


#kefu {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  width: 60px;
  height: 60px;
}
#kefu .topBtn {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  -webkit-animation: wobble 250ms  infinite;
  animation: wobble 250ms  infinite;
  background-image: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t%3D%221575450105478%22%20class%3D%22icon%22%20viewBox%3D%220%200%201220%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%222883%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cpath%20d%3D%22M609.524%20103.522c-222.89%200-403.712%20178.472-403.712%20398.78%200%20220.31%20180.823%20398.782%20403.712%20398.782%20222.889%200%20403.712-178.473%20403.712-398.781%200-220.309-180.823-398.781-403.712-398.781v48.762c196.1%200%20354.95%20156.785%20354.95%20350.019s-158.85%20350.019-354.95%20350.019-354.95-156.785-354.95-350.02c0-193.233%20158.85-350.018%20354.95-350.018v-48.762z%22%20fill%3D%22%231296db%22%20p-id%3D%222884%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M786.578%20916.34c166.45-69.217%20278.408-231.055%20278.408-414.035%200-248.026-203.847-449.219-455.457-449.219-251.619%200-455.457%20201.188-455.457%20449.22%200%2055.397%2010.152%20109.367%2029.718%20159.975%204.855%2012.56-1.39%2026.677-13.949%2031.533-12.56%204.855-26.677-1.39-31.532-13.949a490.396%20490.396%200%200%201-3.042-8.078c-1.85%200.077-3.711%200.116-5.581%200.116C58.06%20671.903%200%20614.597%200%20543.903c0-65.005%2049.09-118.69%20112.68-126.91C153.65%20182.56%20360.56%204.324%20609.528%204.324c248.962%200%20455.877%20178.24%20496.85%20412.67%2063.583%208.225%20112.669%2061.907%20112.669%20126.909%200%2070.694-58.06%20128-129.686%20128-1.89%200-3.771-0.04-5.642-0.119-47.536%20129.702-148.34%20235.841-279.493%20290.027-1.161%2033.464-29.012%2060.24-63.2%2060.24-34.925%200-63.237-27.944-63.237-62.416%200-34.471%2028.312-62.415%2063.237-62.415%2017.892%200%2034.048%207.333%2045.551%2019.12z%22%20fill%3D%22%231296db%22%20p-id%3D%222885%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M609.528%20611.405c-58.933%200-112.056-10.644-158.472-28.342-16.123-6.147-30.211-12.702-42.138-19.208-6.926-3.777-11.447-6.59-13.437-7.972-19.24-13.373-44.428%205.446-37.059%2027.688%2035.296%20106.527%20136.054%20179.913%20251.106%20179.913%20115.05%200%20215.796-73.384%20251.092-179.913%207.37-22.243-17.82-41.062-37.06-27.687-1.99%201.383-6.51%204.195-13.434%207.972-11.926%206.505-26.012%2013.06-42.133%2019.207-46.413%2017.698-99.533%2028.342-158.465%2028.342z%22%20fill%3D%22%231296db%22%20p-id%3D%222886%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
#kefu .topBtn:active {
  background: #ddd;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-image: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t%3D%221575450105478%22%20class%3D%22icon%22%20viewBox%3D%220%200%201220%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%222883%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cpath%20d%3D%22M609.524%20103.522c-222.89%200-403.712%20178.472-403.712%20398.78%200%20220.31%20180.823%20398.782%20403.712%20398.782%20222.889%200%20403.712-178.473%20403.712-398.781%200-220.309-180.823-398.781-403.712-398.781v48.762c196.1%200%20354.95%20156.785%20354.95%20350.019s-158.85%20350.019-354.95%20350.019-354.95-156.785-354.95-350.02c0-193.233%20158.85-350.018%20354.95-350.018v-48.762z%22%20fill%3D%22%231296db%22%20p-id%3D%222884%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M786.578%20916.34c166.45-69.217%20278.408-231.055%20278.408-414.035%200-248.026-203.847-449.219-455.457-449.219-251.619%200-455.457%20201.188-455.457%20449.22%200%2055.397%2010.152%20109.367%2029.718%20159.975%204.855%2012.56-1.39%2026.677-13.949%2031.533-12.56%204.855-26.677-1.39-31.532-13.949a490.396%20490.396%200%200%201-3.042-8.078c-1.85%200.077-3.711%200.116-5.581%200.116C58.06%20671.903%200%20614.597%200%20543.903c0-65.005%2049.09-118.69%20112.68-126.91C153.65%20182.56%20360.56%204.324%20609.528%204.324c248.962%200%20455.877%20178.24%20496.85%20412.67%2063.583%208.225%20112.669%2061.907%20112.669%20126.909%200%2070.694-58.06%20128-129.686%20128-1.89%200-3.771-0.04-5.642-0.119-47.536%20129.702-148.34%20235.841-279.493%20290.027-1.161%2033.464-29.012%2060.24-63.2%2060.24-34.925%200-63.237-27.944-63.237-62.416%200-34.471%2028.312-62.415%2063.237-62.415%2017.892%200%2034.048%207.333%2045.551%2019.12z%22%20fill%3D%22%231296db%22%20p-id%3D%222885%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M609.528%20611.405c-58.933%200-112.056-10.644-158.472-28.342-16.123-6.147-30.211-12.702-42.138-19.208-6.926-3.777-11.447-6.59-13.437-7.972-19.24-13.373-44.428%205.446-37.059%2027.688%2035.296%20106.527%20136.054%20179.913%20251.106%20179.913%20115.05%200%20215.796-73.384%20251.092-179.913%207.37-22.243-17.82-41.062-37.06-27.687-1.99%201.383-6.51%204.195-13.434%207.972-11.926%206.505-26.012%2013.06-42.133%2019.207-46.413%2017.698-99.533%2028.342-158.465%2028.342z%22%20fill%3D%22%231296db%22%20p-id%3D%222886%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.8;
  }
  30% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    opacity: 1;
  }
  85% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.8;
  }
  30% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    opacity: 1;
  }
  85% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
#kefu span {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
#kefu span.wechat {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  z-index: -1;
}
#kefu span.wechat:hover .eweima {
  display: block;
}
#kefu span.qq:hover .qqerweima {
  display: block;
}

#kefu span.wechat .eweima {
  position: absolute;
  right: 0;
  bottom: 70px;
  padding: 10px;
  background: rgba(163, 163, 163, 0.8);
  width: 150px;
  height: 180px;
}
#kefu span.qq .qqerweima {
  position: absolute;
  right: 0;
  bottom: 70px;
  padding: 10px;
  background: rgba(163, 163, 163, 0.8);
  width: 150px;
  height: 180px;
}
#kefu span.wechat .eweima img {
  width: 150px;
  height: 150px;
  display: block;
}
#kefu span.wechat .eweima small {
  padding-top: 10px;
  font-style: normal;
  font-style: 14px;
  text-align: center;
  color: #fff;
  display: block;
}

#kefu span.qq {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: -1;
}

#kefu span.qq .qqerweima img {
  width: 150px;
  height: 150px;
  display: block;
}
#kefu span.qq .qqerweima small {
  padding-top: 10px;
  font-style: normal;
  font-style: 14px;
  text-align: center;
  color: #fff;
  display: block;
}
#kefu span.other {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  z-index: -1;
}
#kefu span.other:hover .tel {
  display: block;
}
#kefu span.other .tel {
  position: absolute;
  right: 70px;
  bottom: 0;
  width: 120px;
  height: 50px;
  padding: 10px 10px 0 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
}
#kefu span.other .tel dt {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#kefu span.other .tel dd {
  font-size: 14px;
}
#kefu .eweima,
#kefu .qqerweima,
#kefu .tel {
  display: none;
}
#showKfList:checked + label {
  background: #ddd;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-image: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t%3D%221575450105478%22%20class%3D%22icon%22%20viewBox%3D%220%200%201220%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%222883%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cpath%20d%3D%22M609.524%20103.522c-222.89%200-403.712%20178.472-403.712%20398.78%200%20220.31%20180.823%20398.782%20403.712%20398.782%20222.889%200%20403.712-178.473%20403.712-398.781%200-220.309-180.823-398.781-403.712-398.781v48.762c196.1%200%20354.95%20156.785%20354.95%20350.019s-158.85%20350.019-354.95%20350.019-354.95-156.785-354.95-350.02c0-193.233%20158.85-350.018%20354.95-350.018v-48.762z%22%20fill%3D%22%231296db%22%20p-id%3D%222884%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M786.578%20916.34c166.45-69.217%20278.408-231.055%20278.408-414.035%200-248.026-203.847-449.219-455.457-449.219-251.619%200-455.457%20201.188-455.457%20449.22%200%2055.397%2010.152%20109.367%2029.718%20159.975%204.855%2012.56-1.39%2026.677-13.949%2031.533-12.56%204.855-26.677-1.39-31.532-13.949a490.396%20490.396%200%200%201-3.042-8.078c-1.85%200.077-3.711%200.116-5.581%200.116C58.06%20671.903%200%20614.597%200%20543.903c0-65.005%2049.09-118.69%20112.68-126.91C153.65%20182.56%20360.56%204.324%20609.528%204.324c248.962%200%20455.877%20178.24%20496.85%20412.67%2063.583%208.225%20112.669%2061.907%20112.669%20126.909%200%2070.694-58.06%20128-129.686%20128-1.89%200-3.771-0.04-5.642-0.119-47.536%20129.702-148.34%20235.841-279.493%20290.027-1.161%2033.464-29.012%2060.24-63.2%2060.24-34.925%200-63.237-27.944-63.237-62.416%200-34.471%2028.312-62.415%2063.237-62.415%2017.892%200%2034.048%207.333%2045.551%2019.12z%22%20fill%3D%22%231296db%22%20p-id%3D%222885%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M609.528%20611.405c-58.933%200-112.056-10.644-158.472-28.342-16.123-6.147-30.211-12.702-42.138-19.208-6.926-3.777-11.447-6.59-13.437-7.972-19.24-13.373-44.428%205.446-37.059%2027.688%2035.296%20106.527%20136.054%20179.913%20251.106%20179.913%20115.05%200%20215.796-73.384%20251.092-179.913%207.37-22.243-17.82-41.062-37.06-27.687-1.99%201.383-6.51%204.195-13.434%207.972-11.926%206.505-26.012%2013.06-42.133%2019.207-46.413%2017.698-99.533%2028.342-158.465%2028.342z%22%20fill%3D%22%231296db%22%20p-id%3D%222886%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
#showKfList:checked ~ span.wechat {
  -webkit-transform: translate(0, -70px);
  transform: translate(0, -70px);
  background-color: #3cb035;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-image: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t%3D%221575461686978%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%221208%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cpath%20d%3D%22M664.250054%20368.541681c10.015098%200%2019.892049%200.732687%2029.67281%201.795902-26.647917-122.810047-159.358451-214.077703-310.826188-214.077703-169.353083%200-308.085774%20114.232694-308.085774%20259.274068%200%2083.708494%2046.165436%20152.460344%20123.281791%20205.78483l-30.80868%2091.730191%20107.688651-53.455469c38.558178%207.53665%2069.459978%2015.308661%20107.924012%2015.308661%209.66308%200%2019.230993-0.470721%2028.752858-1.225921-6.025227-20.36584-9.521864-41.723264-9.521864-63.862493C402.328693%20476.632491%20517.908058%20368.541681%20664.250054%20368.541681zM498.62897%20285.87389c23.200398%200%2038.557154%2015.120372%2038.557154%2038.061874%200%2022.846334-15.356756%2038.156018-38.557154%2038.156018-23.107277%200-46.260603-15.309684-46.260603-38.156018C452.368366%20300.994262%20475.522716%20285.87389%20498.62897%20285.87389zM283.016307%20362.090758c-23.107277%200-46.402843-15.309684-46.402843-38.156018%200-22.941502%2023.295566-38.061874%2046.402843-38.061874%2023.081695%200%2038.46301%2015.120372%2038.46301%2038.061874C321.479317%20346.782098%20306.098002%20362.090758%20283.016307%20362.090758zM945.448458%20606.151333c0-121.888048-123.258255-221.236753-261.683954-221.236753-146.57838%200-262.015505%2099.348706-262.015505%20221.236753%200%20122.06508%20115.437126%20221.200938%20262.015505%20221.200938%2030.66644%200%2061.617359-7.609305%2092.423993-15.262612l84.513836%2045.786813-23.178909-76.17082C899.379213%20735.776599%20945.448458%20674.90216%20945.448458%20606.151333zM598.803483%20567.994292c-15.332197%200-30.807656-15.096836-30.807656-30.501688%200-15.190981%2015.47546-30.477129%2030.807656-30.477129%2023.295566%200%2038.558178%2015.286148%2038.558178%2030.477129C637.361661%20552.897456%20622.099049%20567.994292%20598.803483%20567.994292zM768.25071%20567.994292c-15.213493%200-30.594809-15.096836-30.594809-30.501688%200-15.190981%2015.381315-30.477129%2030.594809-30.477129%2023.107277%200%2038.558178%2015.286148%2038.558178%2030.477129C806.808888%20552.897456%20791.357987%20567.994292%20768.25071%20567.994292z%22%20p-id%3D%221209%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
#showKfList:checked ~ span.qq {
  -webkit-transform: translate(-70px, -70px);
  transform: translate(-70px, -70px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-image: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t%3D%221575461889902%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%223861%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cpath%20d%3D%22M511.500488%20512.499512m-511.500488%200a511.500488%20511.500488%200%201%200%201023.000976%200%20511.500488%20511.500488%200%201%200-1023.000976%200Z%22%20fill%3D%22%231BC1FA%22%20p-id%3D%223862%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M784.234146%20572.440976c8.178014%200%2016.273108%200.253752%2024.282287%200.728288-16.961436-38.434466-42.247742-69.886751-58.977405-90.331785%202.822244-8.482716%2011.30496-56.536788-25.443153-90.453666v-2.827239c0-132.850263-96.103149-231.785647-214.822213-231.785647-118.717065%200-214.82521%2096.107145-214.825209%20231.785647v2.827239c-33.915879%2033.915879-25.437159%2081.969951-19.782681%2090.453666-25.444152%2028.265397-73.49223%2087.62343-76.320469%20155.461182%200%2016.961436%202.827239%2045.226833%2011.305959%2056.531794%2011.305959%2014.133198%2039.570357-2.827239%2062.186272-48.054073%205.650482%2019.788675%2019.78368%2053.709549%2050.876316%2093.281905-50.876316%2011.302962-65.009514%2062.186271-48.049077%2090.450669%2011.305959%2019.788675%2039.570357%2033.920874%2087.624429%2033.920874%2078.496343%200%20115.815899-19.378076%20134.378771-35.711126C492.644901%20814.680414%20490.520976%20800.136617%20490.520976%20785.233171c0-117.522232%20131.500581-212.792195%20293.71317-212.792195z%22%20fill%3D%22%23FFFFFF%22%20p-id%3D%223863%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M514.925143%20819.204995c5.654478%200%2011.309955%202.82624%2014.132199%205.649483%2016.960437%2016.960437%2053.709549%2039.575352%20138.50674%2039.575352%2048.054072%200%2076.320468-16.960437%2087.625428-33.920874%2016.960437-28.264398%202.827239-79.147707-48.054072-90.450669%2031.092636-39.572355%2045.225834-73.493229%2050.881311-93.281905%2019.787676%2045.226833%2050.881311%2062.18727%2062.186271%2048.054073%202.827239-11.30496%205.650482-39.570357%205.650482-56.531794-1.93511-23.223321-8.508691-45.121936-17.337069-65.128398-8.009179-0.475536-16.104273-0.729288-24.282287-0.729287-162.212589%200-293.713171%2095.269963-293.71317%20212.792195%200%2014.903446%202.123926%2029.447243%206.147996%2043.485533a88.18688%2088.18688%200%200%200%204.122973-3.864226c2.827239-2.823243%208.481717-5.649483%2014.133198-5.649483z%22%20fill%3D%22%23FFFFFF%22%20opacity%3D%22.4%22%20p-id%3D%223864%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
#showKfList:checked ~ span.other {
  -webkit-transform: translate(-70px, 0);
  transform: translate(-70px, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-image: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t%3D%221575462102341%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%2210475%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cpath%20d%3D%22M512%201024a512%20512%200%201%201%20512-512%20512%20512%200%200%201-512%20512z%20m93.44-456.32L576%20596.48c-43.264-13.44-96.256-64-156.928-153.6l21.504-23.808a57.728%2057.728%200%200%200%201.792-75.136l-59.776-72.96a57.472%2057.472%200%200%200-78.72-9.856l-20.352%2015.104a113.92%20113.92%200%200%200-41.984%20123.008A587.648%20587.648%200%200%200%20358.4%20619.136Q448.896%20725.504%20625.536%20768a111.232%20111.232%200%200%200%20118.784-46.464l15.488-23.168a57.728%2057.728%200%200%200-10.368-75.648l-66.304-57.088a57.6%2057.6%200%200%200-77.696%202.048zM305.92%20307.2l20.352-15.104a19.2%2019.2%200%200%201%2026.24%203.328l59.776%2072.96a19.328%2019.328%200%200%201%200%2025.6l-41.984%2045.056%208.192%2012.8c73.728%20111.36%20139.264%20173.312%20199.168%20184.704l9.856%201.92%2044.672-43.136a19.072%2019.072%200%200%201%2025.6-0.768l66.304%2057.216a18.944%2018.944%200%200%201%203.456%2025.6l-15.36%2023.296a73.216%2073.216%200%200%201-77.952%2030.464C524.8%20704%20442.368%20658.432%20387.968%20594.304a546.432%20546.432%200%200%201-109.824-205.952A75.52%2075.52%200%200%201%20305.92%20307.2z%20m233.856%2098.048a74.624%2074.624%200%200%201%2017.024-1.92%2076.8%2076.8%200%200%201%2076.8%2076.8%2075.008%2075.008%200%200%201-0.896%2012.032%2011.008%2011.008%200%200%200-1.152%205.248v0.768a17.792%2017.792%200%200%200%2019.584%2016.384c10.112-0.768%2019.584-5.504%2019.584-16.128v-0.896a111.488%20111.488%200%200%200%201.28-17.408%20115.2%20115.2%200%200%200-115.2-115.2%20120.192%20120.192%200%200%200-15.232%201.024%2020.864%2020.864%200%200%200-18.432%2020.608c0%2010.24%206.528%2019.072%2016.64%2018.304zM710.4%20499.2c0%2010.368%2011.776%2015.36%2021.76%2014.592a16%2016%200%200%200%2016.64-17.024v-7.936-8.192a192%20192%200%200%200-192-192h-13.568A21.504%2021.504%200%200%200%20521.984%20307.2a18.176%2018.176%200%200%200%2017.792%2019.584%20150.144%20150.144%200%200%201%2017.024-0.896%20153.6%20153.6%200%200%201%20153.6%20153.6%20148.992%20148.992%200%200%201-1.152%2019.712z%22%20fill%3D%22%23fb2805%22%20p-id%3D%2210476%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
#showKfList {
  width: 60px;
  height: 60px;
  display: none;
}
