{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        我的大饭堂 - 一个python路上的小白,分享学习经验的网站.
    {% endblock %}</title>
    <meta name="keywords" content="个人博客,王伟个人博客,村长个人博客,我的大饭堂,my canteen"/>
    <meta name="description" content="我的大饭堂,一个python路上的小白,个人学习中的实用笔记"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
    <script src="{% static 'js/scrollReveal.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    {% block mycss %}

    {% endblock %}
</head>
<body>
<header>
    <div style="text-align: right;padding-top: 20px;padding-right:10px;font-size: 18px;">
        <div style="text-align: left; font-size: 30px"><a href="{% url 'index' %}" ><b>my canteen</b></a></div>
        {% if request.user.is_authenticated %}
            欢迎！<a href="{% url 'user:center' %}">{{ request.user.username }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'user:logout' %}">注销</a>
        {% else %}
            <a href="{% url 'user:login' %}"> 登录</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'user:register' %}">注册</a>
        {% endif %}
    </div>
    <div style="text-align: left;padding-top: 20px;padding-right:10px;font-size: 18px;">

    </div>

    <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
        <a href="{% url 'index' %}"><span>首页</span><span class="en">Home</span></a>
        <a href="{% url 'article:show' %}"><span>学无止境</span><span class="en">Learn</span></a>
        <a href="{% url 'user:about_me' %}"><span>关于我</span><span class="en">About</span></a>
        <a href="{% url 'user:center' %}"><span>个人资料</span><span class="en">Detail</span></a>
        <a href="{% url 'article:message' %}"><span>留言</span><span class="en">Saying</span></a></nav>
</header>

<article>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</article>

<br>
<footer>
    Design by 王伟 </br>
    <a href="http://www.beian.miit.gov.cn/">冀ICP备20006001号</a></br>

    网站已运行:<span id="run_time" style="color:white"></span>



</footer>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        (function () {
            window.scrollReveal = new scrollReveal({reset: true});
        })();
    };
</script>
<script>
    function runTime() {
        var d = new Date(), str = '';
        BirthDay = new Date("March 31,2020");
        today = new Date();
        timeold = (today.getTime() - BirthDay.getTime());
        sectimeold = timeold / 1000
        secondsold = Math.floor(sectimeold);
        msPerDay = 24 * 60 * 60 * 1000
        msPerYear = 365 * 24 * 60 * 60 * 1000
        e_daysold = timeold / msPerDay
        e_yearsold = timeold / msPerYear
        daysold = Math.floor(e_daysold);
        yearsold = Math.floor(e_yearsold);
        //str = yearsold + "年";
        str += daysold + "天";
        str += d.getHours() + '时';
        str += d.getMinutes() + '分';
        str += d.getSeconds() + '秒';
        return str;
    }
    setInterval(function () { $('#run_time').html(runTime()) }, 1000);
</script>
{% block myjs %}

{% endblock %}
</body>
</html>