.gbook {
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-bottom: 20px
}

.gbox {
    padding: 20px;
    overflow: hidden;
}

.gbox p {
    margin-bottom: 10px;
    overflow: hidden;
}

p.fbtime {
    color: #fff;
    font-size: 18px;

}

.fbtime span {
    float: right;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

p.fbinfo {
    margin: 10px 0;
    font-size: 16px;
    line-height: 22px;

}

.fb ul {
    margin: 10px 10px;
    padding: 20px 10px;
    border-bottom: #ececec 1px solid;
}

span.tximg {
    display: block;
    float: left;
    margin-right: 10px;
    border-radius: 20px;
}

.gbox i {
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.gbox i input {
    margin: 10px auto;
    display: block;
}

.hf ul {
    padding: 10px 20px;
    background: #f9f9f9;
}

.hf {
    margin: 0 20px;
    padding-bottom: 20px;
    border-bottom: #dedddd 1px dashed;
}

textarea#lytext {
    width: 99%;
}

.gbox input[type="submit"] {
    display: block;
    background: #040404;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}

.ecomment {
    border: #dedcdc 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

span.ecommentauthor {
    color: #b5b5b5;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.saying {
    line-height: 30px;
    color: #a9a6a6;
}

.saying span {
    float: right
}

.saying span a {
    color: #de1513;
}

img#plKeyImg {
    display: inline-block;
}

.yname {
    margin: 10px 10px 10px 0
}

.yname span, .yzm span {
    padding-right: 10px;
}

.yzm {
    margin: 0 10px 10px 0
}

#plpost input[type="submit"] {
    display: block;
    background: #303030;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}

textarea#saytext {
    width: 99%;
}

#plpost {
    margin: 0 20px;
    overflow: hidden;
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    #mnav, article {
        width: 90%;
        overflow: hidden
    }

    .tuijian li {
        width: 26%
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
    #mnav, article {
        width: 90%;
        overflow: hidden
    }

    .tuijian li {
        width: 26%
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    #mnav, article {
        width: 96%;
        overflow: hidden
    }

    #starlist li {
        padding: 0 0 0 20px;
    }

    .tuijian li {
        width: 26%
    }

    .pics ul li:nth-child(2) {
        margin: 0 0 0 12px;
    }

    .rightbox {
        display: none
    }

    .leftbox {
        width: 100%
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #mnav, article {
        width: 96%;
        overflow: hidden
    }

    #mnavh {
        display: block;
    }

    #starlist {
        display: none;
        width: 100%;
    }

    #starlist li {
        float: none;
        display: block;
        padding: 0 0 0 0;
        width: 100%;
        text-align: center
    }

    #starlist li {
        padding: 0 0 0 20px;
    }

    .tuijian li {
        width: 28%;
        padding: 10px
    }

    .pics ul li i {
        height: 100px
    }

    .pics ul li img {
        height: 100%
    }

    .pics ul li:nth-child(2) {
        margin: 0 0 0 8px;
    }

    .pics ul li span {
        display: none
    }

    .rightbox {
        display: none
    }

    .leftbox {
        width: 100%
    }

    .autor .more {
        display: none
    }

    .news_infos img {
        max-width: 400px
    }

    .dasbox {
        display: none
    }

    .diggit {
        margin: auto;
        float: none
    }

    .zsm {
        display: block
    }

    .zsm img {
        width: 200px;
        margin: auto
    }

    .ffsm p img {
        position: inherit;
        float: none;
    }

    .pagelist a {
        margin: 0px;
        border: 0;
        padding: 5px 0px;
    }

    .pagelist > b {
        padding: 0;
        border: 0;
    }
}

@media only screen and (max-width: 479px) {
    #mnav, article {
        width: 96%;
        overflow: hidden
    }

    #mnavh {
        display: block;
    }

    #starlist {
        display: none;
        width: 100%;
    }

    #starlist li {
        float: none;
        display: block;
        padding: 0 0 0 0;
        width: 100%;
        text-align: center
    }

    #starlist li {
        padding: 0 0 0 20px;
    }

    .hometitle span {
        display: none
    }

    .tuijian li {
        width: 45%;
        padding: 6px
    }

    .pics ul li {
        width: 100%;
    }

    .pics ul li:nth-child(2) {
        margin: 10px 0
    }

    .rightbox {
        display: none
    }

    .leftbox {
        width: 100%
    }

    .autor .more, .viewnum {
        display: none
    }

    .blogpic {
        display: block;
        width: 100%;
        margin: auto;
        max-height: 120px;
        float: none
    }

    .blogpic img {
        margin: auto
    }

    .bloginfo p {
        clear: both
    }

    .dasbox {
        display: none
    }

    .diggit {
        margin: auto;
        float: none
    }

    .zsm {
        display: block
    }

    .zsm img {
        width: 60%;
        margin: auto
    }

    .news_infos img {
        width: 100%
    }

    .otherlink li {
        width: 90%;
        height: auto
    }

    .ffsm p img {
        position: inherit;
        float: none;
    }

    .pagelist a {
        margin: 0px;
        border: 0;
        padding: 5px 0px;
    }

    .pagelist > b {
        padding: 0;
        border: 0;
    }
}