{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    用户登录
{% endblock %}
{% block mycss %}
    <link href="{% static  'css/register.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- css files -->

    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //Online-fonts -->
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">个人博客用户登录</h1>
            <div class="w3layouts-main">
                <h2><span><a href="{% url 'user:login' %}">密码登录</a></span> <span><a href="{% url 'user:codelogin' %}"
                                                                                    style="color: #4bcfef">验证码登录</a></span>
                </h2>
                <p>{{ msg }} {{ errors }}</p>
                <form action="{% url 'user:codelogin' %}" method="post"> {% csrf_token %}
                    <input placeholder="手机号码" name="mobile" type="text" id='mobile' required="">
                    <input placeholder="输入验证码" name="code" type="text">
                    <button id="btn" type="button">发送验证码</button>
                    <input type="submit" value="用户登录" name="login">
                </form>
                <a href="{% url 'user:register' %}"><span>注册新用户?</span></a>
            </div>

        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        $(function () {
            $('#btn').click(function () {
                var mobile = $('#mobile').val();
                if (mobile.length == 11) {
                    $.getJSON('{% url 'user:send_code' %}', {mobile: mobile}, function (data) {
                        console.log(data)
                        if (data.status == 501) {
                            flag = confirm(data.msg + ',是否跳转注册页面进行注册？');
                            if (flag) {
                                window.location.href = '{% url 'user:register' %}'
                            }
                        } else {
                            alert(data.msg)
                        }
                    })
                } else {
                    alert('输入正确的手机号码！')
                }
            });
        });


    </script>
{% endblock %}
