{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    用户注册
{% endblock %}
{% block mycss %}
    <link href="{% static  'css/register.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- css files -->

    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //Online-fonts -->
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">个人博客用户注册</h1>
            <div class="w3layouts-main">
                <h2><span>现在注册</span></h2>
                <p>{{ msg }}</p>
                <form action="{% url 'user:register' %}" method="post">
                    {% csrf_token %}
                    <input placeholder="用户名" name="username" type="text" id="username" required="">
                    <input placeholder="邮箱" name="email" type="email" id="email" required="">
                    <input placeholder="手机号码" name="mobile" type="text" id="mobile" required="">
                    <input placeholder="密码" name="password" type="password" id="password1" required="">
                    <input placeholder="确认密码" name="password" type="password" id="password2" required="">
                    <input type="submit" value="提交注册" name="login">
                </form>
            </div>


        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <script>

        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
            document.getElementById('username').onchange = checkusername;
            document.getElementById('mobile').onchange = checkmobile;
            document.getElementById('email').onchange = checkemail;
        }
        function checkemail(){
            var email = document.getElementById("email").value;
            var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
		    if(reg.test(email))
			    document.getElementById("email").setCustomValidity("");

		    else
			    document.getElementById("email").setCustomValidity("邮箱格式有误");

        }

        function checkmobile() {
            var mobile = document.getElementById("mobile").value;
            if(!(/^1[3456789]\d{9}$/.test(mobile)))
                document.getElementById("mobile").setCustomValidity("手机号码有误");
            else
                document.getElementById("mobile").setCustomValidity("");


        }
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
        function checkusername() {
            var username = document.getElementById('username').value;
            if (username.length < 3)
                document.getElementById('username').setCustomValidity("用户名长度不得小于3位")
            else
                document.getElementById('username').setCustomValidity("")
        }

    </script>
{% endblock %}